* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: poke;
  src: url("../fonts/pokemon-font.otf");
}

body {
  background: #fff;
  position: relative;
  font-family: poke;
  font-size: large;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/652/confectionary.png);
}

header {
  color: #fff;
  padding-bottom: 1vw;
  text-align: center;
  overflow: hidden;
}
#logo img {
  padding-top: 150px;
}

.svg-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

.form {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  justify-content: center;
  margin: 0 auto;
}

.user-location {
  margin-left: 5px;
  width: 60px;
}

.user-form {
  display: flex;
  flex-direction: row;
  width: 70%;
  margin: auto;
}

.user-form .user-input {
  flex: 1;
  display: flex;
  outline: none;
}

.user-form .user-input .lab {
  width: 120px;
}

.user-form .user-input .form-control {
  flex: 1;
  outline: none;
}

.user-form .user-btn .btn {
  padding: 8px 10px;
  outline: none;
}

/* Display city search */
.citysearch {
  text-align: center;
  margin-bottom: 150px;
  top: 100px;
  color: yellow;
  line-height: 40px;
}

/* Display weather */
.weather-container {
  padding-top: 100px;
  padding-left: 150px;
  line-height: 40px;
  max-width: 1650px;
  margin: 50px auto 100px;
  color: darkgreen;
}

/* Display submit button */
.submitsection {
  text-align: center;
  margin-bottom: 200px;
  top: 100px;
  line-height: 100px;
}

/* Display 5 cards in a row */
.poke-cards {
  display: grid;
  grid-template-columns: repeat(5, 2fr);
  grid-column-gap: 50px;
  grid-row-gap: 1em;
  padding: 0 50px;
  max-width: 1750px;
  margin: 0 auto 150px;
}

.poke-card {
  display: flex;
  flex-direction: column;
  transform-style: preserve-3d;
}

.poke-info {
  pointer-events: none;
}

/* Style the counter cards */
.card,
.card.hn {
  padding: 20px;
  text-align: left;
  text-transform: capitalize;
  background: rgb(165, 172, 34);
  border-radius: 20px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4), 0 0px 40px rgba(0, 0, 0, 0.35);
  color: rgb(210, 46, 150);
  display: flex;
  flex-direction: column;

  margin-bottom: 100px;
}

/* Card hover animation */
.card:hover {
  background: darkgoldenrod;
}
/* changes cards to purple when they've been selected */
.selectedpoke {
    background: purple;
}

/* Media Query Resonsive to screen size */
@media (max-width: 768px) {
  body {
    font-size: small;
    align-items: center;
  }
  #logo img {
    padding-top: 20px;
    width: 80%;
  }
  .svg-container {
    position: absolute;
    float: none;
    height: 380px;
  }
  .svg-container svg {
    height: 120%;
  }
  .user-form {
    width: 90%;
    flex-direction: column;
  }
  .user-form .user-btn {
    margin-top: 20px;
  }
  .citysearch {
    line-height: 50px;
  }
  .weather-container {
    text-align: center;
    padding: 50px;
  }
  .poke-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 50px;
  }
}